{% extends "./base/base.html" %}
{% block title %}
    <title>amigo — chatting with andrew!</title>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect("http://127.0.0.1:5000");
        
            socket.on("connect", function() {
                socket.emit('join');
            });

            socket.on("disconnect", function() {
                socket.emit('leave');
            });

            socket.on("message", function(msg) {
                if (socket.id == msg.msg[1]) {
                    $(".messages").append(
                    `<div class="mt-2 mr-2 flex flex-row w-max bg-slate-200 rounded-lg 2xl:p-[0.45rem] xl:p-[0.45rem] lg:p-[0.45rem] text-black justify-center items-center ml-auto">
                        <p>` + msg.msg[0] + `</p>
                    </div>`
                );  
                } else {
                    $(".messages").append(
                    `<div class="mt-2 flex flex-row w-max bg-blue-500 rounded-lg 2xl:p-[0.45rem] xl:p-[0.45rem] lg:p-[0.45rem] text-white justify-center items-center">
                        <p>` + msg.msg[0] + `</p>
                    </div>`  
                 );    
                }
            });
        
            $("#text").keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $("#text").val();
                    $("#text").val("");
                    socket.send(text)
                }
            });   
        });

        $(document).ready(function() {
                var element = document.getElementById("messages");
                console.log(element);
                element.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            }
        );
        </script>
{% endblock %}
{% block body %}
    <div class="flex flex-col w-screen h-screen justify-center items-center font-inter">
        <div class="flex justify-center items-center">
            <div class="flex flex-col items-center">
                <div class="text flex flex-col justify-between 2xl:w-[45rem] xl:w-[35rem] lg:w-[29rem] 2xl:h-[30rem] xl:h-[36rem] lg:h-[37.5rem] shadow-2xl rounded-xl bg-white border-2 border-white space-y-4 2xl:p-4 xl:p-4 lg:p-4 2xl:text-sm xl:text-sm lg:text-sm">
                    <div id="messages" class="messages overflow-y-scroll scrollbar">
                        <div class="mb-6 flex flex-col justify-center items-center">
                            <span class="w-max text-slate-500 justify-center items-center text-center text-mini">
                                Beginning of your conversation with Andrew!
                            </span>
                        </div>
                    </div>
                    <div class="border-t-2 border-gray-200 px-4 pt-4">
                        <div class="flex flex-row text-center justify-center items-center">
                           <input id="text" type="text" placeholder="Write your message!" class="pl-4 text-sm w-full transform transition duration-500 focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 bg-gray-200 rounded-lg py-3">
                        </div>
                     </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}