{% extends "./base/base.html" %}
{% block body %}
    <div class="flex w-screen h-screen">
        <div class="flex flex-col w-full h-screen bg-white items-center justify-center">
            <div class="items-center justify-center">
                <div class="div">
                    LOGO [unnamed]
                </div>
                <div class="div">
                    unname
                </div>
                <div class="div">
                    steam button
                </div>
                <div class="div">
                    <p>text</p>
                </div>
            </div>
        </div>
        <div class="flex w-full h-screen bg-slate-50">

        </div>
    </div>
{% endblock %}