{% extends "./base/base.html" %}
{% block title %}
    <title>amigo — waiting...</title>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect("http://127.0.0.1:5000");
        
            socket.on("connect", function() {
                console.log("User has connected!");
            });
            
            socket.on("redirect", function (data) {
                console.log("User has redirected!");
                window.location = data.url;
            });
        });
        </script>
{% endblock %}
{% block body %}
    <div class="flex flex-col w-screen h-screen justify-center items-center font-inter">
        <div class="flex text-sm animate-pulse">
            <p>Looking for someone to match you with...</p>
        </div>
        <div class="flex">
            <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24"></svg>
        </div>
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
{% endblock %}